.taskbar {
  background-color: #c0c0c0;
  border-top: 2px solid #dfdfdf;

  height: 50px;
  padding: 0 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.hidden {
  display: none;
}

.highlight {
  background-color: #e8e8e8;
}

.menu-item {
  position: relative;
}

.mini {
  position: absolute;
  top: 0px;
  left: 190px;
  border: 1px solid black;
}

.mini div {
  color: black;
  display: none;
}

.mini div:hover {
  background-color: #000080;
  color: white;
}

.mini div:first-child:after {
  content: '';
}

.show div {
  display: flex;
}
